body {
    background-image: url(images/alfons-morales.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.signup-form__logo {
    background-image: url(images/SourcesCited--Logo.png);
    background-repeat: no-repeat;
}