body {
    background-image: url(images/alfons-morales.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.signup-form {
    margin: 30vh auto 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.92);
    width: 363px;
    padding: 40px 0 38px;
    border-radius: 4px;
    vertical-align: baseline;
}


.signup-form__logo {
    background-image: url(images/SourcesCited--Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    display:inline-block;
    height: 80px;
    width: 340px;
    /* background-color: #ffffff00; */


}

.signup-form__logo-box {
    text-align: center;
    width: 360px;
    padding: 20px 0 20px;
    border-radius: 4px;
}

.signup-form,
.signup-form__logo-box {
    margin-bottom: 30px;
}

.signup-form__submit,
.signup-form__submit--login {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 40px;
    line-height: 40px;
    border-radius: 22px;
    border-style: none;
    background: #0096FA;
    outline: none;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    
    color: white;
    padding: 0;
    border: 0;
    margin-top: 8px
}

.signup-form__submit--login {
    color: #5C5C5C;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.2s background-color;
}

.signup-form__submit:hover {
    transition: 0.2s background-color;
    background: #0064fa;
}

.signup-form__submit--login:hover {
    color: #FFF;
}

.button {
    cursor: pointer;
    text-decoration: none;
}


.signup-form__catchphrase {
    color: #757c80;
    font-size: 14px;
    font-weight: bold;
}