 body{
    margin:0;
    padding: 0;
 }

 .signup-form {
    margin-top: 30vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.92);
    width: 100%;
    height: 23rem;
    padding-right:40px;
    border-radius: 12px;
    vertical-align: baseline;
    min-width: 10rem;
    box-sizing: border-box;

}


.signup-form__logo {
    background-image: url(images/SourcesCited--Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    display:inline-block;
    height: 5rem;
    width: 100%;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: .5rem;
    min-width: 10rem;
    box-sizing: border-box;
}

/* .flex-outer__signup-form {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.92);
    width: 22.5rem;
    padding: 2.5rem 0 2.4rem ;
    border-radius: 4px;
    vertical-align: baseline;
} */

.signup-form__logo-box {
    text-align: center;
    width: 90%;
    padding: 1.4rem 0 1.5rem;
    border-radius: 4px;
    justify-content: center;
    vertical-align: center;
}

.signup-form,
.signup-form__logo-box {
    margin-bottom: 30px;
}

.signup-form__submit,
.signup-form__submit--login {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 22px;
    border-style: none;
    background: #0096FA;
    outline: none;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    
    color: white;
    padding: 0;
    border: 0;
    margin-top: 8px
}

.signup-form__submit--login {
    color: #555555;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.2s background-color;
}

.signup-form__submit:hover {
    transition: 0.2s background-color;
    background: #0064fa;
}

.signup-form__submit--login:hover {
    color: #FFF;
}

.button {
    cursor: pointer;
    text-decoration: none;
}


.signup-form__catchphrase {
    color: #757c80;
    font-size: 0.9rem;
    font-weight: bold;
}
.signup-form__submit,
.signup-form__submit--login {
    margin: 2rem;
    align-items: center ;
}





@media (min-width: 25rem) and (orientation: landscape) {
    .signup-form {
        margin: 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.92);
        width: 23.3rem;
        height: 20rem;
        padding: 0;
        border-radius: 12px;
        vertical-align: baseline;
    }

}


@media (min-width: 25rem) {
    .signup-form {
        margin: 35vh auto 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.92);
        width: 23.3rem;
        height: 20rem;
        padding: 2rem 0;
        border-radius: 12px;
        vertical-align: baseline;
    }
    

    .signup-form__logo {
        background-image: url(images/SourcesCited--Logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        display:inline-block;
        height: 5rem;
        width: 20rem;
        padding-bottom: 2rem;
        padding-right: 2rem;
    }
    .signup-form {
        margin: 35vh auto 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.92);
        width: 23rem;
        height: 23rem;
        padding:0;
        border-radius: 12px;
        vertical-align: baseline;
        min-width: 15rem;
    }
}
