<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sources Cited Login</title>
    <link rel="stylesheet" href="../shared.css">
    <link rel="stylesheet" href="login.css">

</head>
<body>
    <main>
        <section class="login">
            <div class="login-card">
              <h1>Sign in</h1>
              <div class="inputs">
                <input class="login-input" type="email" ng-model="email" id="email" placeholder="username">
                <input class="login-input" type="password" ng-model="password" id="password" placeholder="password">
                <button type="button" name="back" class="btn btn-back">Back</button>
                <button type="button" name="button" class="btn btn-success">Log in</button>
          
              </div>
            </div>
          </section>
    </main>
    
</body>
</html>