

#profile-list-item {
  list-style: none;
}
 
.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}





.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidebar a:hover {
  color: #f1f1f1;
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}


#main {
  transition: margin-left .5s; 
  padding: 20px;
}
.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 101; 
  top: 0;
  left: 0;
  border: #444;
  background-color: #9198d5; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.open {
  display: block;
}
.menu-list__image {
  cursor: pointer;
}
.list-inline-item {
  background-color: #9198d5 ;
}
.list-inline-item a {
  color: #111;
}
.item {
  width: 100%
}
body .post-button{
  background-color: #fff
}
.post-button button {
  background-color: #fff;
}

body .main-content {
  margin: 6rem 1rem;
}

body .main-content .card {
  max-width: 100%;
  width: 100%;
  margin: 0rem 0rem ;
}

body .main-content .row-cols-1 {
  margin: 1rem;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}